@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
}

.flex_prop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad60 {
  padding: 60px 0;
}

.btn {
  background: #0099f4;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  transition: background 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;

  &:hover {
    background: rgb(4, 4, 69);
    transform: translateY(-4px);
  }
}

.wrapper {
  header {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    box-shadow: 2px 2px 10px #ccc;

    .top_header {
      background: #0099f4;
      padding: 5px 0;


      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left_top_header {
          flex: 1;
          color: #fff;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            width: 20px;
            fill: #fff;
          }
        }

        .contact_number {
          p {
            display: flex;
            align-items: center;
            color: #fff;
            gap: 5px;
            font-size: 14px;

            svg {
              fill: #fff;
              width: 20px;
            }
          }
        }
      }
    }

    .mid_header {
      padding: 20px 0;
      background: #fff;

      .mid_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          font-size: 24px;
          font-weight: 500;
          text-transform: uppercase;
          color: #333;
          img{
            width:120px;
          }

          span {
            font-weight: 900;
          }
        }

        .menu_icon {
          display: none;
        }
        .menu_mobile{
          position: fixed;
          top:0;
          left:0;
          height:100vh;
          width:100%;
          background: #fff;
          padding:20px;
          text-align: center;
          visibility: hidden;
          ul{
            list-style-type: none;
            
            li{
              padding:10px 0;
              a{
                color:#333;
                text-decoration: none;
              }
            }
          }
        }

        nav {
          ul {
            list-style-type: none;
            display: flex;
            gap: 20px;

            li {
              a {
                text-decoration: none;
                color: #333;
              }
            }
          }
        }
      }
    }
  }

  .banner {
    background: #333 url("./images/banner1.jpg") bottom/cover no-repeat;
    height: 100vh;
    position: relative;
    margin-top: 80px;

    .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);

      .mid_banner {
        width: 90%;
        text-align: center;

        h1 {
          font-size: 65px;
          color: #fff;

          span {
            display: block;
          }
        }
      }
    }
  }

  .about {
    .about_content {
      h2 {
        font-size: 50px;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 700;
        color: #333;

        span {
          font-weight: 300;
        }
      }

      .overview {
        gap: 30px;

        .overview_left {
          order: 2;
          flex: 2;
          padding: 20px 0;

          p {
            font-size: 18px;
            line-height: 1.5;
            padding-bottom: 20px;
            color: #333;
          }
        }

        .overview_right {
          order: 1;
          flex: 1;

          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .services {
    background: #0099f4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .services_content {
      text-align: center;

      h2 {
        font-size: 50px;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 300;
        color: #fff;

        span {
          font-weight: 700;
        }
      }

      .services_list {
        ul {
          list-style-type: none;
          display: flex;
          gap: 20px;
          justify-content: space-between;

          li {
            width: 100%;
            height: auto;

            p {
              padding: 10px;
              text-align: center;
              font-size: 16px;
              font-weight: 600;
              color: #fff;
            }

            .image-box {
              width: 100%;
              height: 200px;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: transform 0.3s ease;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }

  }

  .portfolio {
    .portfolio_content {
      h2 {
        font-size: 50px;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 700;
        color: #333;

        span {
          font-weight: 300;
        }
      }
    }
  }

  .contact {
    width: 100%;
    height: 40vh;
    border-top: 4px solid #ccc;
  }

  .main_footer {
    background: #0099f4;

    .main_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 20px;

      .footer_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        .logo {
          img{
            width:220px;
          }
          h2 {
            color: #fff;
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
          }
        }

        .other_links {
          ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            li {
              a {
                text-decoration: none;
                color: #fff;
              }
            }
          }
        }
      }

      .footer_right {
        p {
          font-size: 14px;
          padding-bottom: 10px;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            fill: #fff;
            width: 20px;
          }
        }
      }
    }

    .bottom_content {
      padding: 20px 0;
      text-align: center;

      p {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width:360px) and (max-width:767px) {
  .wrapper {
    header {
      .top_header{
        .content{
          flex-direction: column;
          gap:5px;
        }
      }
      .mid_header {
        .mid_content {
          nav {
            display: none;
          }

          .menu_icon {
            display: block;

            svg {
              width: 20px;
            }
          }
          .menu_mobile{
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            &.active{
             visibility: visible;
              transform: translateX(0);
            }
            .close_icon{
              svg{
                width:20px;
              }
            }
          }
        }
      }
    }
    .banner{
      .overlay{
        .mid_banner{
          h1{
            font-size:42px;
          }
        }
      }
    }
    .about{
      .about_content{
        h2{
          font-size: 40px;
        }
        .overview{
          flex-direction: column;
          .overview_right{
            img{
              height: unset;
            }
          }
        }
      }
    }
    .services{
     
      .services_content{
         h2{
          font-size: 40px;
        }
        .services_list{
          ul{
            flex-wrap: wrap;
            li{
              .image-box{
                height: auto;
              }
            }
          }
        }
      }
    }
    .portfolio{
      .portfolio_content{
        h2{
          font-size: 40px;
        }
      }
    }
    .main_footer{
      .main_content{
        flex-direction: column;
        gap:20px;
      }
    }
  }
}
